/server/node_modules
/server/dist
/server/build
/server/.DS_Store
/server/npm-debug.log
/server/yarn-error.log
/server/.vscode
/server/.idea
/server/pop/posts/
/server/pop/profilePics/




/client/node_modules
/client/dist
/client/build
/client/.DS_Store
/client/npm-debug.log
/client/yarn-error.log
/client/.vscode
/client/.idea